<div>
  Hello <b>{{dataService.getUsername()}}</b> <button class="btn btn-danger" style="float: right;" (click)="logout()" routerLinkActive="true" routerLink="/main">Logout</button>
  <form class="form-group">
    <label>
      <div *ngIf="!isEditMode; else editComponent">Add new publication:</div>
      <ng-template #editComponent>Edit publication with ID: {{publicationId}}</ng-template>
    </label>
    <input type="text" id="title" name="title" required minlength="10" maxlength="30" [(ngModel)]="titleText"
           placeholder="Title" class="form-control" #title="ngModel">
    <div *ngIf="title.errors" class="alert alert-danger">
      <div [hidden]="!title.errors.required">
        Publication title is required.
      </div>
      <div [hidden]="!title.errors.maxlength">
        Title cannot be more than 30 characters long.
      </div>
      <div [hidden]="!title.errors.minlength">
        Publication title must have at least 10 characters.
      </div>
    </div>

    <textarea name="description" required minlength="20" #description="ngModel" [(ngModel)]="descriptionText"
              placeholder="Description text" class="form-control" type="text"></textarea>
    <div *ngIf="description.errors" class="alert alert-danger">
      <div [hidden]="!description.errors.required">
        Publication title is required.
      </div>
      <div [hidden]="!description.errors.minlength">
        Description of publication must have at least 20 characters.
      </div>
    </div>

    <button *ngIf="!(title.errors||description.errors)" (click)="onClickAddNewPublication()" class="btn btn-primary"
            routerLinkActive="active" routerLink="/">Add new publication
    </button>
  </form>
  <form>
    <div class="form-group">
      <input #limitInput  (input)="limitChange(limitInput.value)" type="number" min="0" placeholder="Number of publications">
      <input #offsetInput (input)="offsetChange(offsetInput.value)" type="number" min="0" placeholder="Offset of publications">
      <select #orderByInput (change)="orderDirectionChange(orderByInput.value)">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
      <select #orderDirectionInput (change)="orderByChange(orderDirectionInput.value)">
        <option value="id">Id</option>
        <option value="title">Title</option>
        <option value="description">Description</option>
      </select>
      <button class="btn btn-success" (click)="refreshList()">Apply changes</button>
    </div>
  </form>
  <div *ngFor="let item of publicationList; let i = index">
    <app-data-item (idSelectedToEdit)="idChanged($event)" (idSelectedToDelete)="deletePublication($event)"
                   [publication]="item" [counter]="i+1"></app-data-item>
  </div>
</div>
