<div *ngIf="apiKeyService.apiKey==undefined; else user_component">
  <div class="well well-lg"><b>Hello!</b> <br/>Please register or login to use this site.</div>
  <div class="btn-group">
  <button routerLink="/register" routerLinkActive="active" class="btn btn-info">Register</button>
  <button routerLink="/login" routerLinkActive="active" class="btn btn-warning">Login</button>
  </div>
</div>
<ng-template #user_component>
  <app-data-component>

  </app-data-component>
</ng-template>
