<div class="form-group">
  <label>register:
    <input [(ngModel)]="username" placeholder="username" class="form-control" #usernameInput="ngModel" required minlength="5" maxlength="30">
    <div *ngIf="usernameInput.errors" class="alert alert-danger">
      <div [hidden]="!usernameInput.errors.required">
        Username is required.
      </div>
      <div [hidden]="!usernameInput.errors.maxlength">
        Username cannot be more than 30 characters long.
      </div>
      <div [hidden]="!usernameInput.errors.minlength">
        Username must have at least 5 characters.
      </div>
    </div>
    <input [(ngModel)]="password" type="password" placeholder="password" class="form-control" #passwordInput="ngModel" required minlength="5" maxlength="30">
    <div *ngIf="passwordInput.errors" class="alert alert-danger">
      <div [hidden]="!passwordInput.errors.required">
        Password is required.
      </div>
      <div [hidden]="!passwordInput.errors.maxlength">
        Password cannot be more than 30 characters long.
      </div>
      <div [hidden]="!passwordInput.errors.minlength">
        Password must have at least 5 characters.
      </div>
    </div>
    <input [(ngModel)]="email" type="email" placeholder="email" class="form-control" #emailInput="ngModel" required minlength="5" maxlength="30" email="true">
    <div *ngIf="emailInput.errors" class="alert alert-danger">
      <div [hidden]="!emailInput.errors.required">
        Email is required.
      </div>
      <div [hidden]="!emailInput.errors.maxlength">
        Email cannot be more than 30 characters long.
      </div>
      <div [hidden]="!emailInput.errors.minlength">
        Email must have at least 5 characters.
      </div>
      <div [hidden]="!emailInput.invalid">
        Invalid email.
      </div>
    </div>
  </label>
  <button (click)="onClickRegister()" class="btn btn-primary">Register</button>
</div>
<button class="btn btn-warning" routerLink="/main" routerLinkActive="active">Return to main page</button>

<div *ngIf="isRegistered==true" class="alert alert-success">
  <strong>Success!</strong> You should get email confirmation link
</div>

<div *ngIf="isRegistered==false" class="alert alert-danger">
  <strong>FAILURE!</strong> There were some error during register.
</div>
