<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">{{counter}}. {{publication.title}}</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">{{publication.description}}</div>
  </div>
  <div class="panel-footer">Publicated by: <b>{{publication.userName}}</b> at: {{publication.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}
    <button *ngIf="publication.userName == dataService.getUsername()" (click)="onEditClick(publication)" class="btn btn-success">EDIT</button>
  <button routerLink="/main" routerLinkActive="active" *ngIf="publication.userName == dataService.getUsername()" (click)="onDeleteClick(publication.id)" class="btn btn-danger">DELETE</button>
  </div>
</div>
